$width: 50rem;

#index {
  margin-top: 60px;
  transform: rotate(0deg);
  img {
    width: $width;
  }
  .nice-pic {
    width: 80%;
    height: $width;
    margin: 0 auto;
    background: url('../imgs/1.jpg');
  }
}
